.footer {
    color: #f8fcff;
    text-align: center;
    background-color: #788088;
    padding: 30px 0;
}

.footer__inner {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}