.header {
    min-height: 108px;
    line-height: 1.5;
}

.header__inner {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    gap: 15px;
    align-items: center;
    padding: 30px 0 30px;
}

.header__logo {
    max-width: 58px;
}

.nav__list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px 30px;
}

.socials {
    display: flex;
    justify-content: end;
    flex-wrap: wrap;
    gap: 10px 30px;
}