.main__wrapper {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.main__body {
    max-width: 792px;
    width: 100%;
}

.main__general {
    padding: 120px 0;
}

.main__gallery {
    padding-bottom: 120px;
}

.sidebar {
    border: 2px solid #d0dce7;
    padding: 30px;
    font-weight: 500;
    max-width: 282px;
    width: 100%;
    min-height: 60vh;
    height: 100%;
}

.main__sidebar {
    position: sticky;
    top: 5vh;
}

.sidebar__item {
    margin-bottom: 20px;
}

.sidebar__item:last-child {
    margin-bottom: 0px;
}

/* =============================== */

.gallery {
    display: grid;
    grid-auto-flow: dense;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
}

.gallery__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
    position: absolute;
    top: 0;
}

.gallery__img {
    display: block;
    position: relative;
    overflow: hidden;
    padding-bottom: 100%;
}

.gallery__img--large-left {
    grid-column: 1/3;
    grid-row: span 2;
}

.gallery__img--large-right {
    grid-column: -1/-3;
    grid-row: span 2;
}

.gallery__hint {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #1d6fb68c;
    height: 53px;
    color: #f8fcff;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(100%);
    opacity: 0;
    transition: all .5s;
}

.gallery__img:hover .gallery__hint {
    transform: translateY(0%);
    opacity: 1;
}

.gallery__img--large-left .gallery__hint,
.gallery__img--large-right .gallery__hint {
    height: 103px;
    font-size: 24px;
    line-height: 29px;
}

/* ===================================== */

.products {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.products__item-body {
    border: 1px solid #d0dce7;
    border-top: none;
    padding: 30px 15px;
}

.products__item-img {
    position: relative;
    padding-bottom: 62%;
}

.products__item-img img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    object-fit: cover;
    object-position: 50% 50%;
}

.products__item-badge {
    position: absolute;
    left: 0;
    top: 12.7%;
    color: #1d6fb6;
    font-weight: 500;
    background: #f8fcff;
    border-radius: 0 100px 100px 0;
    padding: 18px 15px;
    text-align: center;
    min-width: 33.9%;

    animation: badge-action 1.5s infinite alternate;
}

.products__item-button {
    margin: 0 auto;
}

@keyframes badge-action {
    0% {
        min-width: 33.9;
    }

    66.666% {
        min-width: 33.9%;
    }

    100% {
        min-width: 37.3%;
    }
}