.brands {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 40px 0;
  background: var(--general-color);
}

.brands__images {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 23px clamp(2.125rem, 0.978rem + 4.71vw, 6.625rem);
  width: 100%;
}

.brands__image {
  object-fit: none;
}
