.carousel {
  padding-bottom: 170px;
}

.carousel__title {
  text-transform: uppercase;
  font-size: 48px;
  font-weight: 700;
  line-height: calc(58px / 48px);
}

.carousel__top {
  display: flex;
  margin-bottom: 40px;
  justify-content: space-between;
}

.carousel__slider-controls {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.carousel__prev,
.carousel__next {
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
}

.carousel__prev svg,
.carousel__next svg {
  width: 24px;
  height: 24px;
}

.carousel__next {
  transform: rotate(180deg);
}

.carousel__wrapper {
  display: flex;
}

.carousel__slide {
  padding: 28px 32px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  max-width: 400px;
  width: 100%;
  min-height: 240px;
}

.carousel__slide-stars {
  display: flex;
  align-items: center;
  gap: 7px;
  margin-bottom: 15px;
}

.carousel__slide-name {
  display: flex;
  align-items: center;
  gap: 4px;
  margin-bottom: 17px;
  font-size: 20px;
  font-weight: 700;
  line-height: calc(22px / 20px);
}

.carousel__checkmark {
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel__slide-quote {
  line-height: calc(22px / 16px);
  color: rgba(0, 0, 0, 0.6);
}
