.register {
  display: flex;
  position: relative;
  top: 0;
  z-index: 11;
  align-items: center;
  min-height: 38px;
  background: var(--general-color);
  width: 100%;
  transform: translateY(0);
  opacity: 1;
  visibility: visible;

  transition: opacity 0.2s ease, transform 0.2s ease;
}

.top-element-phantom {
  display: none;
  height: 38px;
}

.top-element.fixed ~ .top-element-phantom {
  display: block;
}

.register.fixed {
  visibility: visible;
  transform: translateY(0px);
  opacity: 0.95;
  animation: register 2s ease-out infinite alternate;
}

@keyframes register {
  0% {
    height: 38px;
  }

  100% {
    height: 50px;
  }
}

.register__content {
  display: flex;
  margin-left: auto;
  gap: 5px;
  color: var(--white-color);
  font-size: 14px;
  line-height: calc(17px / 14px);
}

.register__span {
  font-weight: 500;
  text-decoration: underline;
}

.register-close {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: clamp(1rem, -0.338rem + 5.49vw, 6.25rem);
}

.header {
  width: 100%;
}

.header__inner {
  padding: 24px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;

  line-height: 19px / 16px;
}

.header__logo {
  max-width: 160px;
  flex-shrink: 1;
}

.header__logo img {
  width: 100%;
}

.header__list {
  display: flex;
  align-items: center;
  gap: 24px;
}

.header__link:first-child {
  display: flex;
  gap: 6px;
}

.header__item-drop-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.search {
  position: relative;
  display: flex;
  align-items: center;
  gap: 12px;
  max-width: 462px;
  width: 100%;
  background: rgba(240, 240, 240, 1);
  border-radius: 62px;
  padding: 12px 16px;
}

.search-input {
  display: flex;
  align-items: center;
  gap: 12px;
  width: 100%;
  background: rgba(240, 240, 240, 1);
}

.search-input::placeholder {
  line-height: 19px / 16px;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.4);
}

.header__info {
  display: flex;
  gap: 14px;
}

.header__info-cart,
.header__info-user {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__info-search {
  display: none;
}

.burger {
  display: none;
}

@media (max-width: 1330px) {
  .burger {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
  }

  .burger__icon-cross {
    display: none;
  }

  .burger__icon-burger {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    z-index: 10;
  }

  .burger--open .burger__icon-cross {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    z-index: 10;
  }

  .burger--open .burger__icon-burger {
    display: none;
  }

  .search {
    position: fixed;
    top: 8%;
    left: 18%;
    display: none;
    max-width: 200px;
    background: white;
    padding: 15px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
  }

  .header__info-search {
    display: flex;
  }

  .header__nav {
    position: fixed;
    right: -100vw;
    top: 0;
    bottom: 0;
    z-index: 10;
    background: var(--bg-color);
    min-width: 297px;
    padding: 145px 15px 0;
    box-shadow: -2px 0 20px var(--white-color);
    opacity: 0;
    visibility: hidden;
    transition: right var(--transition-time), opacity var(--transition-time),
      visibility var(--transition-time);
  }

  .header__nav--open {
    opacity: 1;
    right: 0;
    visibility: visible;
  }

  .header__nav .header__list {
    flex-direction: column;
    align-items: start;
    text-align: end;
  }

  .header__logo {
    position: absolute;
    max-width: 126px;
    left: 56px;
  }
}

@media (max-width: 500px) {
  .header__nav {
    min-width: 100%;
  }
}

@media (max-width: 750px) {
  .register__desc {
    display: none;
  }

  .register__span {
    margin-left: none;
  }
}
