.choose {
  padding: 80px 0 80px;
}

.choose__inner {
  padding: 70px 64px 76px;
  border-radius: 40px;
  background: var(--bg-color);
}

.choose__title {
  text-transform: uppercase;
  font-size: 48px;
  font-weight: 700;
  line-height: calc(58px / 48px);
  text-align: center;
  margin-bottom: 40px;
}

.choose__cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.choose__card {
  position: relative;
  z-index: 5;
  width: 100%;
  border-radius: 20px;
  min-height: 289px;
  max-width: 407px;
}

.choose__card-image {
  position: absolute;
  min-height: 289px;
  height: 100%;
  z-index: -1;
  inset: 0;
}

.choose__card:nth-child(4n + 2),
.choose__card:nth-child(4n + 3) {
  max-width: 684px;
}

.choose__card-image img {
  border-radius: 20px;
  height: 100%;
  width: 100%;
}

.choose__card-title {
  position: absolute;
  top: 22px;
  left: 20px;
  font-size: clamp(1.5rem, 0.935rem + 2.82vw, 2.25rem);
  font-weight: 700;
  line-height: calc(43px / 36px);
}

@media (max-width: 1269px) {
  .choose__cards {
    justify-content: center;
  }

  .choose__card:nth-child(4n + 2),
  .choose__card:nth-child(4n + 3) {
    max-width: 407px;
  }
}

@media (max-width: 745px) {
  .choose__inner {
    padding: 40px 64px 27px;
  }

  .choose__card {
    min-height: 190px;
  }

  .choose__cards {
    justify-content: left;
  }

  .choose__card-image {
    min-height: 190px;
  }

  .choose__title {
    font-size: clamp(1.875rem, 0.639rem + 5.07vw, 3rem);
    line-height: calc(58px / 48px);
  }
}
