@font-face {
    font-family: 'Open Sans';
    src: local('Open Sans Light'), local('OpenSans-Light'),
        url('../assets/fonts/OpenSans-Light.woff2') format('woff2'),
        url('../assets/fonts/OpenSans-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src: local('Open Sans Regular'), local('OpenSans-Regular'),
        url('../assets/fonts/OpenSans-Regular.woff2') format('woff2'),
        url('../assets/fonts/OpenSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'),
        url('../assets/fonts/OpenSans-SemiBold.woff2') format('woff2'),
        url('../assets/fonts/OpenSans-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'NAMU';
    src: local('NAMU 1850'), local('NAMU-1850'),
        url('../assets/fonts/NAMU-1850.woff2') format('woff2'),
        url('../assets/fonts/NAMU-1850.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'NAMU';
    src: local('NAMU 1930'), local('NAMU-1930'),
        url('../assets/fonts/NAMU-1930.woff2') format('woff2'),
        url('../assets/fonts/NAMU-1930.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'NAMU';
    src: local('NAMU 1910'), local('NAMU-1910'),
        url('../assets/fonts/NAMU-1910.woff2') format('woff2'),
        url('../assets/fonts/NAMU-1910.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}