.contact {
    background: #f8f8f8;
    padding: 150px 0 150px;
}

.contact__inner {
    display: flex;
    justify-content: space-between;
}

.contact__left {
    max-width: 555px;
    width: 100%;
}

.contact__title {
    font-size: 42px;
    line-height: 1.2;
    margin-bottom: 30px;
}

.contact__form {
    display: block;
}

.contact__input {
    display: block;
    background: transparent;
    border-bottom: 1px solid var(--general-color);
    width: 100%;
    padding: 15px 0;

    margin-bottom: 20px;
}

.contact__input:last-child {
    margin-bottom: 65px;
}

.contact__input::placeholder {
    font-family: 'Open Sans';
    font-size: 18px;
    font-weight: 400;
    line-height: 1.4;
}

.contact__left-button,
.contact__right-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background: var(--general-color);
    font-size: 24px;
    line-height: 1.375;
    color: var(--accent-color-text);
    border-radius: 3px;

    transition: var(--transition);
}

.contact__left-button:hover {
    background: var(--accent-color);
}

.contact__right-button:hover {
    background: rgba(171, 171, 171, 1);
}

.contact__right-button:active {
    background: var(--accent-color);
}

.contact__left-button {
    max-width: 277px;
    height: 64px;
}

.contact__right-button {
    max-width: 244px;
    height: 64px;
    margin-bottom: 30px;
}

.contact__checkbox-label {
    display: flex;
    max-width: 513px;
    align-items: center;
    gap: 20px;

    font-family: 'Open Sans';
    line-height: 1.2;
}

.contact__checkbox {
    max-width: 30px;
    width: 100%;
    display: flex;
    cursor: pointer;
    appearance: none;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 30px;
    border: 2px solid rgba(17, 17, 17, 1);
    border-radius: 3px;
    background: transparent;
}

.contact__checkbox:checked::before {
    content: '';
    background: url('./checkbox-mark.svg') no-repeat;
    position: absolute;
    width: 17px;
    height: 11px;
}

@media (max-width: 1165px) {

    .contact {
        padding: 60px 0 60px;
    }

    .contact__title {
        font-size: 20px;
    }

    .contact__input::placeholder {
        font-size: 12px;
    }

    .contact__left {
        max-width: 304px;
    }

    .contact__right {
        max-width: 304px;
    }

    .contact__left-button {
        max-width: 180px;
        font-size: 16px;
    }

    .contact__right-button {
        max-width: 153px;
        font-size: 16px;
    }

    .contact__checkbox-label {
        font-size: 10px;
    }

    .contact__checkbox {
        max-width: 19px;
        width: 100%;
        height: 19px;
    }

    .contact__checkbox:checked::before {
        width: 15px;
        height: 11px;
    }

}

@media (max-width: 660px) {

    .contact {
        padding: 40px 0 45px;
    }

    .contact__inner {
        display: block;
        justify-self: center;
    }

    .contact__left-button {
        margin-bottom: 46px;
    }

    .contact__left-button,
    .contact__right-button {
        max-width: 170px;
        height: 20px;
        padding: 20px 0;
        font-size: 15px;
        line-height: 1.3;
    }

    .contact__input {
        padding: 10px 0;
        margin-bottom: 10px;
    }

    .contact__input::placeholder {
        font-size: 12px;
    }

    .contact__title {
        margin-bottom: 10px;
    }

    .contact__input:last-child {
        margin-bottom: 30px;
    }

    .contact__checkbox-label {
        font-size: 10px;
    }
}