.details {}

.details__inner {
    padding: 150px 0;
}

.details__list {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(4, 1fr);
}

.details__item {
    max-width: 325px;
    height: 454px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

    box-shadow: 0px 4px 41px 0px rgba(0, 0, 0, 0.05), 0px 4px 41px 0px rgba(0, 0, 0, 0.05);
}

.details__link {
    height: 100%;
}

.details__img {
    max-width: 325px;
    height: 325px;
}

.details__img img {
    width: 100%;
}

.details__info {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px 0 30px 40px;
    height: 130px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

    font-size: 30px;
    line-height: 1.2;
    transition: var(--transition);
}

.details__item:hover .details__info {
    background: var(--general-color);
    color: var(--accent-color-text);
}

.details__info span {
    display: block;

    font-family: 'Open Sans';
    font-size: 24px;
    line-height: 1.4;
}

.details__icon {
    position: absolute;
    top: 68px;
    left: 191px;
}

.details__icon path {
    transition: var(--transition);
}

.details__item:hover .details__icon path {
    fill: var(--accent-color-text);
}

@media (max-width: 1170px) {}