.faq {
    background: #f8f8f8;
    padding: 150px 0 150px;
}

.faq__title {
    font-size: 42px;
    line-height: 1.2;
    margin-bottom: 59px;
}

.accordion {
    padding: 34px 0;
    border-top: 1px solid rgba(171, 171, 171, 0.5);
}

.accordion:last-child {
    border-bottom: 1px solid rgba(171, 171, 171, 0.5);
}

.accordion-list__control {
    font-size: 20px;
    font-family: 'Open Sans';
    line-height: 1.5;
    background: transparent;
}

.accordion-list__item--opened .accordion-list__control {
    margin-bottom: 40px;
}

.accordion-list__content {
    font-size: 18px;
    font-family: 'Open Sans';
}