.faq {
    background: #f8f8f8;
    padding: 150px 0 150px;
}

.faq__title {
    font-size: 42px;
    line-height: 1.2;
    margin-bottom: 59px;
}

.accordion-list__item {
    border-top: 1px solid rgba(171, 171, 171, 0.5);
}

.accordion:last-child {
    border-bottom: 1px solid rgba(171, 171, 171, 0.5);
}

.accordion-list__control {
    padding: 31px 0px 31px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
    width: 100%;
    font-family: 'Open Sans';
    line-height: 1.5;
    background: transparent;
}

.accordion-list__control-icon {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    transition: var(--transition);
}

.accordion-list__control-icon svg {
    width: 100%;
    opacity: 1;
    visibility: visible;
    display: block;
    transition: var(--transition);
}


.accordion-list__item--opened .accordion-list__control-icon::after {
    content: '';
    display: block;
    transform: rotate(135deg);
    width: 36px;
    position: absolute;
    border: 1px solid var(--accent-color);

}

.accordion-list__item--opened .accordion-list__control-icon::before {
    display: block;
    position: absolute;
    content: '';
    width: 36px;
    border: 1px solid var(--accent-color);
    transform: rotate(45deg);
}

.accordion-list__item--opened .accordion-list__control-icon svg {
    display: none;
    opacity: 0;
    visibility: hidden;
}

.accordion-list__content {
    font-size: 18px;
    font-family: 'Open Sans';
    max-height: 0;
    overflow: hidden;

    transition: all .4s;
}

.accordion-list__content {
    max-width: 908px;
    font-family: 'Open Sans';
    font-size: 18px;
    font-weight: 300;
    line-height: 1.3;
}

.accordion-list__item--opened .accordion-list__content {
    margin-bottom: 50px;
}

@media (max-width: 1150px) {
    .faq {
        padding: 60px 0 76px;
    }

    .faq__title {
        font-size: 26px;
    }

    .accordion-list__control {
        font-size: 16px;
    }

    .accordion-list__content {
        font-size: 15px;
    }

    .accordion-list__control {
        padding: 18px 0px 18px;
        text-align: left;
    }

    .accordion-list__control-icon {
        width: 30px;
        height: 30px;
    }

    .accordion-list__control-icon::before,
    .accordion-list__control-icon::after {
        width: 30px;
    }

    .accordion-list__control svg {
        width: 100%;
        height: 100%;
    }
}

@media (max-width: 770px) {
    .faq {
        padding: 46px 0 46px;
    }

    .faq__title span {
        display: none;
    }

    .accordion-list__control {
        font-size: 13px;
    }

    .accordion-list__control span {
        max-width: 302px;
    }

    .accordion-list__content {
        max-width: 600px;
        font-size: 13px;
    }

    .accordion-list__control-icon {
        width: 24px;
        height: 24px;
    }

    .accordion-list__control svg {
        width: 100%;
        height: 100%;
    }

}

@media (max-width: 380px) {
    .accordion-list__control-icon {
        flex-shrink: 0;
    }
}