.footer {
    position: relative;
    background: rgba(17, 17, 17, 1);
    padding: 50px 0 50px;
    z-index: 0;
}

.footer__logo {
    display: block;
    max-width: 183px;

    margin-bottom: 20px;
}

.footer__logo img {
    transform: translateX(-10px);
}

.footer__title {
    font-size: 24px;
    line-height: 1.2;

    margin-bottom: 20px;
}

.footer__inner {
    color: var(--accent-color-text);
}

.footer__content {
    display: flex;
    gap: 90px;
}

.footer__col-title {
    font-size: 24px;
    line-height: 1.2;
    margin-bottom: 10px;
}

.footer__col-title--mobile {
    display: none;
    font-size: 24px;
    line-height: 1.2;
    margin-bottom: 10px;
}

.footer__list {
    display: flex;
    flex-direction: column;
    gap: 5px;

    font-family: 'Open Sans';
    font-size: 18px;
    font-weight: 300;
    line-height: 1.4;
}

.footer__col-info {
    margin-bottom: 55px;
}

.footer__col-info .footer__col-title {
    margin-bottom: 20px;
}

.footer__col-info span {
    font-size: 24px;
    font-family: 'Open Sans';
    font-weight: 700;
}

.socials {
    display: flex;
    gap: 20px;
}

.telegram,
.vk,
.youtube {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background: var(--accent-color-text);
    border-radius: 100px;
}

.copyright {
    max-width: 529px;
    position: absolute;
    bottom: 5.5%;
    right: 22.5%;

    font-family: 'Open Sans';
    font-weight: 300;
    font-size: 18px;
    line-height: 1.5;
}

@media (max-width: 1919px) {
    .copyright {
        bottom: 2%;
    }

}

@media (max-width: 1620px) {
    .footer__col-title--mobile {
        display: flex;
    }

    .footer__title {
        display: none;
    }

    .footer__content {
        gap: 40px;
    }
}

@media (max-width: 1110px) {

    .footer__logo {
        max-width: 73px;
    }

    .copyright {
        right: 3%;
        font-size: 13px;
    }

    .footer__col-title--mobile {
        font-size: 18px;
    }

    .footer__col-title {
        font-size: 18px;
    }

    .footer__list {
        font-size: 16px;
    }

    .footer__col-info span {
        font-size: 16px;
    }
}

@media (max-width: 850px) {
    .footer__list {
        font-size: 13px;
    }
}

@media (max-width: 780px) {
    .footer__content {
        display: grid;
        gap: 20px 0;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .footer__col-info {
        margin-bottom: 20px;
    }

    .copyright {
        left: 2%;
    }
}

@media (max-width: 450px) {
    .footer__content {
        gap: 20px 60px;
    }

    .footer__col-title {
        font-size: 16px;
    }

    .telegram,
    .vk,
    .youtube {
        width: 30px;
        height: 30px;
    }

    .copyright {
        bottom: 2%;
        font-size: 12px;
    }
}

@media (max-width: 350px) {
    .footer {
        height: 700px;
    }
}