.hero {
    background: #DDDDDD;
    position: relative;
    z-index: 1;
}

.hero__inner {
    display: flex;
}

.hero__text {
    margin-right: 87px;
    padding: 250px 0 244px;

}

.hero__title {
    max-width: 556px;
    width: 100%;

    font-size: 46px;
    line-height: 1.03;
    margin-bottom: 40px;
}

.hero__desc {
    max-width: 554px;
    width: 100%;

    font-family: 'Open Sans';
    font-size: 26px;
    line-height: 1.3;
    margin-bottom: 90px;
}

.hero__button {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 235px;
    width: 100%;
    height: 64px;
    background: var(--accent-color);

    font-family: 'Open Sans';
    color: var(--accent-color-text);
    font-size: 24px;
    line-height: 1.4;
}

.hero__content {
    position: absolute;
    top: 0;
    right: 0;
    background: url('/assets/img/content/hero__women.png') no-repeat;
    max-width: 997px;
    width: 100%;
    height: 850px;
    z-index: -1;
}

@media (max-width: 1600px) {
    .hero__content {
        right: -260px;
    }
}

@media (max-width: 1250px) {

    .hero__text {
        padding: 80px 0 121px;
    }

    .hero__content {
        background: url('/assets/img/content/hero__women--tablet.png') no-repeat;
        max-width: 374px;
        height: 389px;
        right: 0;
        top: 168px;
    }
}

@media (max-width: 820px) {

    .hero__content {
        top: -5px;
    }

    .hero__title {
        max-width: 363px;
        font-size: 30px;
        line-height: 1;

        margin-bottom: 16px;
    }

    .hero__desc {
        max-width: 253px;
        font-family: 'Open Sans';
        font-size: 12px;
        line-height: 1.3;
        margin-bottom: 40px;
    }

    .hero__button {
        max-width: 141px;
        height: 36px;

        font-family: 'Open Sans';
        font-size: 16px;
        line-height: 1.4;
    }

}

@media (max-width: 620px) {

    .hero__text {
        padding: 50px 0 178px;
    }

    .hero__content {
        background: url('/assets/img/content/hero__women--mobile.png') no-repeat;
        max-width: 280px;
        height: 274px;
        top: 117px;
    }

    .hero__title {
        max-width: 290px;

        font-size: 24px;
    }

    .hero__desc {
        max-width: 170px;

        font-size: 12px;
        line-height: 1.4;
        margin-bottom: 30px;
    }
}

@media (max-width: 404px) {

    .hero__title {
        font-size: 16px;
    }

    .hero__button {
        max-width: 100px;
        height: 36px;
    }

    .hero__content {
        top: 100px;
    }

}