.news {
    padding: 150px 0 150px;
}

.news__title {
    font-size: 42px;
    font-weight: 400;
    line-height: 1.2;
    margin-bottom: 50px;
}

.news__cards-button {
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;
    justify-self: center;
    max-width: 311px;
    height: 64px;
    padding: 0 20px;

    background: transparent;
    border: 1px solid var(--general-color);
    border-radius: 3px;
    font-family: 'Open Sans';
    font-size: 24px;
    line-height: 1.4;

    transition: var(--transition);
}

.news__cards-button:hover {
    color: var(--accent-color);
    border-color: var(--accent-color);
}

.news__cards-icon path {
    transition: var(--transition);
}

.news__cards-button:hover .news__cards-icon path {
    fill: var(--accent-color);
}

.news__cards-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
}

.news__cards-icon svg {
    width: 100%;
    height: 100%;
}



.news__cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.news__card {
    max-width: 440px;
    width: 100%;
    margin-bottom: 70px;
}

.news__card-img {
    margin-bottom: 20px;
}

.news__content span {
    color: #919191;
    display: block;
    font-family: 'Open Sans';
    font-size: 18px;
    font-weight: 300;
    line-height: 1.5;
    margin-bottom: 15px;
}

.news__content-title {
    font-family: 'Open Sans';
    font-size: 20px;
    font-weight: 600;
    line-height: 1.2;
    margin-bottom: 10px;
}

.news__content-desc {
    font-family: 'Open Sans';
    font-size: 18px;
    font-weight: 300;
    line-height: 1.2;
    margin-bottom: 20px;
}

.news__content-link {
    font-family: 'Open Sans';
    font-size: 18px;
    font-weight: 400;
    line-height: 1.4;
    color: var(--accent-color);
    text-decoration: underline;
}

@media (max-width: 1440px) {

    .news {
        padding: 60px 0 60px;
    }

    .news__cards {
        justify-content: center;
    }

    .hide-on-mobile-news {
        display: none !important;
    }
}

@media (max-width: 935px) {

    .news {
        padding: 46px 0 46px;
    }

    .news__title {
        font-size: 26px;
    }

    .news__cards {
        display: grid;
        justify-items: center;
        grid-template-columns: repeat(2, 1fr);
    }

    .news__card {
        justify-items: center;
    }

    .news__card-img {
        max-width: 170px;
        margin-bottom: 5px;
    }

    .news__card-img img {
        width: 100%;
    }

    .news__content {
        text-align: center;
    }

    .news__content span {
        font-size: 12px;
        margin-bottom: 5px;
    }

    .news__content-title {
        font-size: 12px;
        margin-bottom: 5px;
    }

    .news__content-desc {
        font-size: 10px;
        margin-bottom: 10px;
    }

    .news__content-link {
        font-size: 12px;
    }

    .news__cards-button {
        height: 36px;
        padding: 10px 20px;
        font-size: 15px;
    }

    .news__cards-icon {
        width: 15px;
        height: 15px;
    }
}