.offers {
    position: relative;
    background: #f8f8f8;
    padding: 150px 0 150px;
}

.offers__title {
    font-size: 46px;
    line-height: 1.1;
    margin-bottom: 50px;
}

.offers__title span {
    color: var(--accent-color);
}

#items {
    display: flex;
    flex-wrap: wrap;
}

.item {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px 20px 7px 20px;
    height: 38px;
    border: 1px solid var(--general-color);
    border-radius: 31px;

    font-family: 'Open Sans';
    font-size: 18px;
    line-height: 1.5;

    margin-right: 20px;
    margin-bottom: 10px;
}

#showMoreBtn {
    display: block;
    position: absolute;
    background: transparent;
    top: 257px;
    right: 280px;
    cursor: pointer;
    color: var(--accent-color);
    text-decoration: underline;
}

.hidden {
    display: none;
}

.hide-on-mobile {
    display: block;
}

@media (max-width: 1620px) {
    #showMoreBtn {
        right: 30px;
    }

    .hide-on-mobile {
        display: none;
    }
}

@media (max-width: 1050px) {
    .item {
        font-size: 12px;
    }

    #items {
        max-width: 700px;
    }
}

@media (max-width: 800px) {
    #showMoreBtn {
        font-size: 12px;
    }
}

@media (max-width: 600px) {

    .offers__title {
        font-size: 28px;
    }

    #showMoreBtn {
        top: 340px;
    }
}

@media (max-width: 453px) {
    #showMoreBtn {
        top: 240px;
    }
}

@media (max-width: 355px) {
    #showMoreBtn {
        top: 235px;
        right: 10px;
    }

    .offers__title {
        font-size: 24px;
    }
}