.offers {
    position: relative;
    background: #f8f8f8;
    padding: 150px 0 150px;
}

.offers__title {
    font-size: 46px;
    line-height: 1.1;
    margin-bottom: 50px;
}

.offers__title span {
    color: var(--accent-color);
}

#items {
    display: flex;
    flex-wrap: wrap;
}

.item {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px 20px 7px 20px;
    height: 38px;
    border: 1px solid var(--general-color);
    border-radius: 31px;

    font-family: 'Open Sans';
    font-size: 18px;
    line-height: 1.5;

    margin-right: 20px;
    margin-bottom: 10px;

    transition: var(--transition);
}

.item:hover {
    color: var(--accent-color);
    border-color: var(--accent-color);
}

#showMoreBtn {
    display: block;
    position: absolute;
    background: transparent;
    top: 257px;
    right: 280px;
    cursor: pointer;
    color: var(--accent-color);
    text-decoration: underline;
}

.hidden {
    display: none !important;
}

.hide-on-mobile {
    display: block;
}

.drop-ul {
    margin-top: 40px;
    display: flex;
    justify-content: end;

    margin-bottom: 40px;
}

.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 11;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropbtn {
    position: relative;
    border: 1px solid var(--accent-color);
    padding: 7px 60px 8px 25px;
    background: transparent;

    font-family: 'Open Sans';
    font-size: 18px;
    line-height: 1.4;

    transition: var(--transition);
    margin-bottom: 10px;
}

.dropbtn span {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 10px;
    height: 6px;
    top: 18px;
    right: 25px;
}

.dropdown:hover .dropbtn span {
    transition: var(--transition);
}

.dropbtn span path {
    transition: var(--transition);
}

.dropdown:hover .dropbtn {
    color: var(--accent-color);
}

.dropdown:hover .dropbtn span {
    transform: rotate(180deg);
}

.dropdown:hover .dropbtn span path {
    fill: var(--accent-color);
}

.dropdown__link span {
    display: none;
}

.dropdown-content {
    max-width: 273px;
    width: 100%;

}

.dropdown__link {
    display: block;
    position: relative;

    font-size: 18px;
    line-height: 1.4;
    padding: 7px 0px 8px 25px;
    width: 100%;
    font-family: 'Open Sans';
    font-weight: 300;

    background: #FDFDFD;
    border-bottom: 1px solid #737272;
    border-radius: 3px 3px 0px 0px;
}

.dropdown__link--active {
    font-weight: 400;
}

.dropdown__link--active::after {
    content: '';
    display: inline-block;
    position: absolute;
    top: 15px;
    right: 23px;
    background: url('./checkbox-mark.svg') no-repeat;
    width: 15px;
    height: 11px;
}

@media (max-width: 1620px) {
    #showMoreBtn {
        top: 180px;
        right: 30px;
    }

    .hide-on-mobile {
        display: none;
    }
}

@media (max-width: 1050px) {
    .item {
        font-size: 12px;
    }

    #items {
        max-width: 700px;
    }
}

@media (max-width: 800px) {
    #showMoreBtn {
        font-size: 12px;
    }
}

@media (max-width: 600px) {

    .offers__title {
        font-size: 28px;
    }

    #showMoreBtn {
        top: 200px;
    }
}

@media (max-width: 453px) {
    #showMoreBtn {
        top: 240px;
    }
}

@media (max-width: 355px) {
    #showMoreBtn {
        top: 235px;
        right: 10px;
    }

    .offers__title {
        font-size: 24px;
    }
}

/* col */

.offers__slide {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.slider__col {
    position: relative;
    max-width: 440px;
    height: 814px;

    border-radius: 3px;
    box-shadow: 0px 4px 41px 0px rgba(0, 0, 0, 0.05);
    background: var(--accent-color-text);
}

.slider__col-img {
    max-width: 440px;
    height: 440px;

    margin-bottom: 40px;
}

.slider__col-img img {
    width: 100%;
}

.offers__col-content {
    padding: 0px 40px;
}

.offers__col-desc {
    font-family: 'Open Sans';
    font-size: 24px;
    font-weight: 300;
    line-height: 1.375;

    margin-bottom: 25px;
}

.incost {
    display: flex;
    align-items: center;
    gap: 140px;

    margin-bottom: 8px;
}

.incost__text {
    display: flex;
    gap: 10px;

    color: #68AE5C;
}

.incost__discount {
    padding: 10px 20px 10px 20px;

    font-size: 24px;
    color: var(--accent-color-text);
    border-radius: 3px;
    background: var(--accent-color);
}

.offers__col-price {
    display: flex;
    align-items: end;
    gap: 74px;

    margin-bottom: 47px;
}

.price {
    font-size: 42px;
    line-height: 1.19;
}

.fake-price {
    font-size: 24px;
    line-height: 1.2;
    text-decoration-line: line-through;
    color: #ababab;
}

.offers__col-bottom {
    display: flex;
    position: absolute;
    width: 100%;
    bottom: 0;
}

.quantity {
    max-width: 220px;
    position: relative;
    display: flex;
    padding: 32px 103px 32px 103px;

    border: 1px solid var(--general-color);
    border-radius: 3px;
}

.counter__value {
    font-size: 24px;
    font-family: 'Open Sans';
}

.decrement {
    position: absolute;
    height: 30px;
    top: 25px;
    left: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
}

.decrement path {
    stroke: var(--general-color);
}

.decrement.disabled path {
    stroke: rgba(171.062, 171.062, 171.062);
}

.increment {
    position: absolute;
    top: 25px;
    right: 35px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
}

.basket {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 10px 20px;

    font-size: 24px;
    line-height: 1.375rem;
    color: var(--accent-color-text);
    border-radius: 3px;
    background: var(--general-color);

    transition: var(--transition);
}

.basket:hover {
    background: var(--accent-color);
    color: var(--accent-color-text);
}

.slider__equirement {
    display: flex;
    gap: 15px;
}

.slider__arrows {
    display: flex;
    gap: 10px;
}

.offers__prev,
.offers__next {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    border: 1px solid var(--general-color);
    border-radius: 3px;
}

.offers__prev {
    transform: rotate(180deg);
}

.drop-ul-content {
    display: none;
    opacity: 0;
    visibility: hidden;

    margin-bottom: 40px;
}

.drop-ul-content--show {
    display: block;
    opacity: 1;
    visibility: visible;
}

@media (max-width: 1400px) {

    .offers {
        padding: 60px 0 70px;
    }

    .offers__slide {
        justify-self: center;
    }

    .slider__col {
        max-width: 196px;
        width: 100%;
        height: 360px;
    }

    .slider__col-img {
        max-width: 196px;
        height: 196px;

        margin-bottom: 10px;
    }

    .offers__col-desc {
        max-width: 172px;
        font-size: 12px;
        margin-bottom: 10px;
    }

    .incost__text {
        font-size: 12px;
    }

    .incost__text-icon svg {
        width: 8px;
        height: 8px;
    }

    .incost__discount {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 16px;
        width: 56px;
        height: 22px;
    }

    .incost {
        gap: 35px;
        margin-bottom: 2px;
    }

    .offers__col-price {
        margin-bottom: 12px;
        gap: 35px;
    }

    .price {
        max-width: 84px;
        font-size: 18px;
    }

    .fake-price {
        font-size: 12px;
    }

    .quantity {
        display: none;
    }

    .basket {
        font-size: 16px;
    }

    .offers__col-content {
        padding: 0px 12px;
    }

    .offers__col-bottom {
        height: 36px;
    }

}

@media (max-width: 660px) {
    .offers__slide {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 440px) {
    .slider__col {
        max-width: 170px;
        width: 100%;
        height: 360px;
    }

    .offers__col-desc {
        margin-bottom: 8px;
        font-size: 10px;
    }

    .incost {
        gap: 20px;
        margin-bottom: 5px;
    }

    .incost__text {
        font-size: 10px;
    }

    .incost__text-icon {
        width: 8px;
        height: 8px;
    }

    .incost__discount {
        font-size: 15px;
    }

    .price {
        font-size: 14px;
    }

    .fakeprice {
        font-size: 10px;
    }

}