.technique {
    position: relative;
    background: #f8f8f8;
    z-index: 1;
}

.technique__inner {
    padding: 150px 0 162px;
}

.technique__inner--mobile {
    display: none;
}

.technique__title {
    max-width: 774px;

    font-size: 42px;
    line-height: 1.20;

    margin-bottom: 40px;
}

.technique__desc {
    max-width: 670px;

    font-family: 'Open Sans';
    font-size: 18px;
    line-height: 1.4;
}

.technique__content {
    position: absolute;
    background: url('./technique__women.jpg') no-repeat;
    max-width: 700px;
    width: 100%;
    height: 700px;
    top: 155px;
    right: 250px;
    z-index: -1;
}

.mobile__title {
    line-height: 1.20;
}

.mobile__title:first-child {
    font-size: 32px;
    margin-bottom: 20px;
}

.mobile__title:nth-child(3) {
    font-size: 26px;
    margin-bottom: 16px;
}

.mobile__title:nth-child(5) {
    font-size: 22px;
    margin-bottom: 14px;
}

.mobile__title:nth-child(7) {
    font-size: 18px;
    margin-bottom: 12px;
}

.mobile__title:nth-child(9) {
    font-size: 16px;
    margin-bottom: 10px;
}

.mobile__desc {
    max-width: 627px;
    margin-bottom: 40px;

    font-family: 'Open Sans';
    font-size: 16px;
    font-weight: 300;
    line-height: 1.4;
}

@media (max-width: 1930px) {
    .technique__content {
        right: 20px;
    }
}

@media (max-width: 1380px) {

    .technique__inner {
        padding: 60px 0 70px;
    }

    .technique__desc {
        max-width: 627px;
    }

    .technique__content {
        display: none;
    }

    .technique__inner--mobile {
        display: block;
    }
}

@media (max-width: 780px) {

    .technique__title {
        font-size: 26px;
        line-height: 1.20;
    }

    .technique__desc {
        font-family: 'Open Sans';
        font-size: 12px;
        font-weight: 300;
        line-height: 1.4;
    }

    .mobile__title:first-child {
        font-size: 26px;
        margin-bottom: 20px;
    }

    .mobile__title:nth-child(3) {
        font-size: 22px;
        margin-bottom: 16px;
    }

    .mobile__title:nth-child(5) {
        font-size: 20px;
        margin-bottom: 14px;
    }

    .mobile__title:nth-child(7) {
        font-size: 16px;
        margin-bottom: 12px;
    }

    .mobile__title:nth-child(9) {
        font-size: 14px;
        margin-bottom: 10px;
    }

    .mobile__desc {
        max-width: 627px;
        margin-bottom: 40px;

        font-family: 'Open Sans';
        font-size: 12px;
        font-weight: 300;
        line-height: 1.4;
    }

    .mobile__desc:last-child {
        margin-bottom: 130px;
    }
}

@media (max-width: 500px) {
    .technique__inner {
        padding: 46px 0 46px;
    }

    .technique__title {
        font-size: 20px;
        margin-bottom: 20px;
    }

    .technique__desc {
        font-size: 12px;
        font-weight: 300;
    }

    .mobile__title:first-child {
        font-size: 20px;
        margin-bottom: 14px;
    }

    .mobile__title:nth-child(3) {
        font-size: 17px;
        margin-bottom: 12px;
    }

    .mobile__title:nth-child(5) {
        font-size: 16px;
        margin-bottom: 10px;
    }

    .mobile__title:nth-child(7) {
        font-size: 15px;
        margin-bottom: 10px;
    }

    .mobile__title:nth-child(9) {
        font-size: 13px;
        margin-bottom: 8px;
    }

    .mobile__desc {
        /* max-width: 350px; */
        margin-bottom: 30px;

        font-family: 'Open Sans';
        font-size: 12px;
        font-weight: 300;
        line-height: 1.4;
    }

    .mobile__desc:last-child {
        margin-bottom: 92px;
    }
}

@media (max-width: 350px) {
    .technique__desc {
        max-width: 350px;
    }

    .mobile__desc {
        max-width: 350px;
    }
}