.testimonials {
    padding: 150px 0 150px;
}

.testimonials__title {
    font-size: 42px;
    line-height: 1.2;
    margin-bottom: 20px;
}

.testimonials__title span {
    color: var(--accent-color);
}

.write-testimonial {
    display: flex;
    align-items: end;
    gap: 70px;
    margin-bottom: 50px;
}

.write-testimonial--left {
    font-family: 'Open Sans';
    font-size: 30px;
    font-weight: 500;
    line-height: 1.2;
}

.write-testimonial--left span {
    font-weight: 400;
    font-size: 20px;
}

.write-testimonial__button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    max-width: 270px;
    height: 64px;
    border: 1px solid var(--general-color);
    border-radius: 3px;
}

.card {
    padding: 40px 0 40px;
    display: flex;
    gap: 70px;
    border-top: 1px solid rgba(171, 171, 171, 0.5);

    margin-bottom: 80px;
}

.card:nth-child(2) {
    padding: 20px 0 23px;
    margin-bottom: 0;
}

.card:nth-child(4) {
    padding: 20px 0 23px;
    margin-bottom: 0;
}

.card:last-child {
    padding: 20px 0 23px;
    margin-bottom: 0;
}

.card__title {
    font-size: 20px;
    font-family: 'Open Sans';
    font-weight: 500;
    line-height: 1.5;
    margin-bottom: 15px;
}

.card__right-title {
    display: flex;
    gap: 861px;
    font-size: 20px;
    font-family: 'Open Sans';
    line-height: 1.5;
    font-weight: 600;
    margin-bottom: 10px;
}

.card__right-title span {
    font-size: 18px;
    color: #909090;
    font-family: 'Open Sans';
    font-weight: 300;
    line-height: 1.5;
}

.card__right-desc {
    max-width: 783px;
    color: var(--general-color);
    font-size: 18px;
    font-family: 'Open Sans';
    font-weight: 300;
    line-height: 1.4;
    margin-bottom: 30px;
}

.card__right-imgs {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 10px;
}

.card__img-button {
    font-family: 'Open Sans';
    font-size: 18px;
    line-height: 1.4;
    color: var(--accent-color);
    text-decoration: underline;
    background: transparent;
}

.cards__button {
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;
    justify-self: center;
    max-width: 311px;
    height: 64px;
    padding: 0 20px;

    background: transparent;
    border: 1px solid var(--general-color);
    border-radius: 3px;
    font-family: 'Open Sans';
    font-size: 24px;
    line-height: 1.4;

    transition: var(--transition);
}

.cards__button:hover {
    color: var(--accent-color);
    border-color: var(--accent-color);
}

.cards__icon path {
    transition: var(--transition);
}

.cards__button:hover .cards__icon path {
    fill: var(--accent-color);
}

.cards__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
}

.cards__icon svg {
    width: 100%;
    height: 100%;
}

@media (max-width: 1380px) {
    .card__right-title {
        gap: 400px;
    }
}

@media (max-width: 1025px) {
    .card:nth-child(2) .card__right-desc {
        max-width: 284px;
    }

    .card:nth-child(4) .card__right-desc {
        max-width: 284px;
    }

    .card:nth-child(5) .card__right-desc {
        max-width: 284px;
    }

    .testimonials {
        padding: 46px 0;
    }
}

@media (max-width: 860px) {
    .card {
        display: block;
    }

    .card__right-title span {
        font-size: 12px;
    }
}

@media (max-width: 700px) {

    .card {
        padding: 20px 0 20px;
        margin-bottom: 0;
    }

    .card__title {
        font-size: 12px;
        margin-bottom: 6px;
    }

    .card__img {
        max-width: 80px;
        margin-bottom: 10px;
    }

    .card__img img {
        width: 100%;
    }

    .card__right-title {
        font-size: 12px;
        margin-bottom: 6px;
    }

    .card__right-desc {
        font-size: 12px;
        margin-bottom: 20px;
        max-width: 349px;
    }

    .card__img {
        max-width: 80px;
    }

    .card__img img {
        width: 100%;
    }

}

@media (max-width: 590px) {
    .card__right-title {
        gap: 200px;
    }
}

@media (max-width: 400px) {
    .card__right-title {
        gap: 100px;
    }
}