.whyus {
    padding: 150px 0 150px;
}

.whyus__title {
    font-size: 42px;
    line-height: 1.2;

    margin-bottom: 60px;
}

.whyus__content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.whyus__col {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 26px 104px 46px 105px;
    max-width: 440px;
    height: 280px;

    box-shadow: 0px 4px 41px 0px rgba(0, 0, 0, 0.05);
    background: var(--accent-color-text);
}

.whyus__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 110px;
    height: 110px;
    margin-bottom: 15px;
}

.whyus__col-title {
    font-size: 20px;
    line-height: 1.2;
    margin-bottom: 13px;
}

.whyus__desc {
    max-width: 223px;
    display: flex;
    justify-self: center;

    font-family: 'Open Sans';
    font-weight: 300;
    line-height: 1.3;
    font-size: 18px;
}

@media(max-width: 1275px) {

    .whyus {
        padding: 60px 0 70px;
    }

    .whyus__title {
        font-size: 26px;
        margin-bottom: 40px;
    }

    .whyus__content {
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
    }

    .whyus__col {
        max-width: 304px;
        height: 190px;
        padding: 18px 71px 30px 71px;

    }

    .whyus__icon {
        width: 74px;
        height: 74px;
        margin-bottom: 11px;
    }

    .whyus__icon svg {
        width: 53px;
        height: 53px;
    }

    .whyus__col-title {
        margin-bottom: 8px;
        font-size: 14px;
    }

    .whyus__desc {
        font-size: 12px;
    }
}

@media (max-width: 660px) {

    .whyus {
        padding: 46px 0 22px;
    }

    .whyus__title {
        font-size: 20px;
        margin-bottom: 30px;
    }

    .whyus__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .whyus__col {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 43px;
        max-width: 350px;
        width: 100%;
        height: 116px;
        border-radius: 3px;
        padding: 16px 50px 30px 33px;
        text-align: left;
    }

    .whyus__col-title {
        font-size: 13px;
        display: block;
    }

    .whyus__desc {
        font-size: 12px;
    }
}