.header {
  position: fixed;
  width: 100%;
  background: var(--white-color);
  z-index: 10;
  backdrop-filter: blur(24px);
}

.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0 15px;
}

.header__logo {
  max-width: 100px;
  height: 40px;
}

.header__logo img {
  width: 100%;
  height: 100%;
}

.header__list {
  display: flex;
  gap: 35px;
}

.header__link.link-active {
  color: var(--general-color);
  line-height: calc(20px / 1rem);
  font-weight: 600;
}

.header__link {
  color: var(--secondary-color);
  font-weight: 500;
  line-height: calc(20px / 1rem);
  transition: color var(--transition-time) ease;
}

.header__link:hover {
  color: var(--general-color);
}

.header__right {
  display: flex;
  align-items: center;
  gap: 24px;
}

.header__info {
  display: block;
}

.header__phone {
  display: flex;
  font-size: 16px;
  line-height: calc(20px / 1rem);
  align-items: center;
  font-weight: 700;
  gap: 4px;
  transition: opacity var(--transition-time) ease;
}

.header__phone:hover {
  opacity: var(--hover-opacity);
}

.header__phone-content {
  font-size: 0.75rem;
  line-height: calc(15px / 0.75rem);
  color: var(--secondary-color);
  text-align: right;
}

.header__bid {
  background: var(--general-color);
  color: var(--white-color);
  border-radius: 4px;
  padding: 10px 20px;
  font-weight: 500;
  font-size: 1rem;
  line-height: calc(20px / 1rem);
  transition: opacity var(--transition-time) ease;
}

.header__bid:hover {
  opacity: var(--hover-opacity);
}

.burger-icon {
  display: none;
  flex-direction: column;
  background: transparent;
  justify-content: space-around;
  align-items: center;
  width: 30px;
  height: 25px;
  padding: 5px;
}

.burger {
  width: 20px;
  height: 2px;
  background: var(--black-color);
  border-radius: 50%;
}

.burger-icon.active .burger:nth-child(1) {
  transform: rotate(45deg) translate(2px, 3px);
}
.burger-icon.active .burger:nth-child(2) {
  opacity: 0;
}
.burger-icon.active .burger:nth-child(3) {
  transform: rotate(-45deg) translate(4px, -6px);
}

.header__nav.active .header__list {
  flex-direction: column;
  gap: 0;
}

.header__nav.active .header__item {
  border-bottom: 1px solid rgba(128, 128, 128, 0.1);
  padding: 20px 0 20px;
}

.header__nav.active {
  display: flex;
  padding-bottom: 35px;
  align-self: center;
  flex-direction: column;
  gap: 20px;
  position: fixed;
  left: 0;
  width: 100%;
  background: var(--white-color);
  top: 70px;
  text-align: center;
}

.header__right--mobile {
  display: none;
}

.header__nav.active .header__right--mobile {
  display: flex;
  gap: 20px;
  flex-direction: column;
  align-items: center;
}

.header__nav.active .header__right--mobile .header__bid {
  width: 100%;
}

@media (max-width: 930px) {
  .burger-icon {
    display: flex;
  }

  .header__right {
    display: none;
  }
}

@media (max-width: 570px) {
  .header__nav {
    display: none;
  }
}
