.trust {
  padding: 64px 0 64px;
  background: var(--general-color);
  transition: all var(--transition-time) ease;
}

.trust:hover {
  transform: scale(1.05);
}

.trust__title {
  font-size: 1.875rem;
  font-weight: 700;
  line-height: calc(36px / 1.875rem);
  margin-bottom: 32px;
  color: var(--white-color);
  text-align: center;
}

.trust__items {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 32px;
}

.trust__item {
  padding: 12px 55px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 4px;
  color: var(--white-color);
  font-weight: 700;
  line-height: calc(24px / 1rem);
  opacity: 0.7;
  transition: all var(--transition-time) ease;
}

.trust__item:hover {
  transform: scale(1.03) translateX(-10px);
  opacity: 1;
}

.trust__item:nth-child(even):hover {
  transform: scale(1.03) translateX(10px);
}

@media (max-width: 810px) {
  .trust__title {
    font-size: 20px;
  }

  .trust__item {
    padding: 12px 20px;
  }
}

@media (max-width: 500px) {
  .trust__items {
    gap: 20px;
  }
}
