.consultation {
  padding: 80px 0 80px;
}

.consultation__window {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 65px 118px 97px 120px;
  max-width: 896px;
  width: 100%;
  border: 1px solid rgba(226, 232, 240, 255);
  border-radius: 16px;
  background: rgba(241, 245, 249, 0.2);
  margin: 0 auto;
}

.consultation__title {
  text-align: center;
  font-size: 2.25rem;
  font-weight: 700;
  line-height: calc(40px / 2.25rem);
  margin-bottom: 27px;
}

.consultation__desc {
  max-width: 658px;
  width: 100%;
  text-align: center;
  font-size: 1.125rem;
  line-height: calc(28px / 1.125rem);
  color: var(--secondary-color);
}

@media (max-width: 845px) {
  .consultation__title {
    font-size: 1.25rem;
  }

  .consultation__desc {
    font-size: 0.875rem;
  }
}

@media (max-width: 680px) {
  .consultation {
    padding: 45px 0 45px;
  }

  .consultation__window {
    padding: 45px 80px 45px 80px;
  }
}

@media (max-width: 448px) {
  .consultation__window {
    padding: 45px;
  }

  .consultation__title {
    font-size: 1rem;
  }

  .consultation__desc {
    font-size: 0.875rem;
  }
}
