.services {
  padding: 139px 0 64px;
  background: var(--general-color);
}

.services__title {
  font-size: 2.25rem;
  font-weight: 700;
  line-height: calc(40px / 2.25rem);
  margin-bottom: 18px;
  color: var(--white-color);
}

.services__desc {
  max-width: 575px;
  width: 100%;
  line-height: calc(24px / 1rem);
  color: var(--white-color);
  opacity: var(--hover-opacity);
}

@media (max-width: 630px) {
  .services__title {
    font-size: 1.5rem;
  }

  .services__desc {
    max-width: 400px;
    font-size: 0.875rem;
  }

  .services {
    padding: 100px 0 45px;
  }
}
