.content {
  padding: 64px 0 80px;
}

.content__inner {
  display: flex;
  justify-content: space-between;
  gap: 48px;
}

.content__items {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 48px;
}

.content__item {
  display: flex;
  flex-direction: column;
  gap: 24px;
  border: 1px solid rgba(226, 232, 240, 255);
  border-radius: 4px;
  padding: 33px 10px 33px 33px;
  width: 100%;
  transition: all var(--transition-time) ease;
}

.content__item:hover {
  transform: scale(1.05);
}

.content__item-top {
  display: flex;
  align-items: center;
  gap: 16px;
}

.content__item-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 56px;
  height: 56px;
  border-radius: 4px;
  background: rgba(241, 245, 249, 255);
  transition: all var(--transition-time) ease;
}

.content__item:hover {
  transform: scale(1.05);
}

.content__item:hover .content__item-icon {
  background: var(--general-color);
}

.content__item:nth-child(even):hover .content__item-icon {
  animation: rotateLeft 1s ease forwards;
}

.content__item:nth-child(even):not(:hover) .content__item-icon {
  animation: reversedRotateLeft 1s;
}

@keyframes reversedRotateLeft {
  0% {
    transform: rotate(-10deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

@keyframes rotateLeft {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(-10deg);
  }
}

.content__item:nth-child(odd):hover .content__item-icon {
  animation: rotateRight 1s ease forwards;
}

.content__item:nth-child(odd):not(:hover) .content__item-icon {
  animation: reversedRotateRight 1s;
}

@keyframes reversedRotateRight {
  0% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes rotateRight {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(10deg);
  }
}

.content__item:hover .content__item-icon path {
  stroke: var(--white-color);
}

.content__item:hover .content__item-icon circle {
  stroke: var(--white-color);
}

.content__item:nth-child(2):hover .content__item-icon rect {
  stroke: var(--white-color);
}

.content__item-title {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: calc(32px / 1.5rem);
}

.content__item-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
  line-height: calc(24px / 1rem);
  color: var(--secondary-color);
}

.content__list-item {
  display: flex;
  align-items: center;
  gap: 12px;
}

.content__list-item::before {
  content: "";
  display: flex;
  align-items: center;
  justify-content: center;
  width: 6px;
  height: 6px;
  border-radius: 7px;
  background: var(--general-color);
}

.content__grade-title {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: calc(32px / 1.5rem);
  margin-bottom: 28px;
}

.content__grade-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px 32px;
  border-radius: 4px;
  box-shadow: 0px 4px 12px -2px rgba(15, 44, 89, 0.1);
  margin-bottom: 32px;
}

.content__form {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 34px;
}

.content__form-top {
  display: flex;
  gap: 4px;
}

.label__form-left {
  display: flex;
  flex-direction: column;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: calc(20px / 0.875rem);
}

.label__left-input,
.label__right-input {
  padding: 17px 0 13px 16px;
  line-height: calc(19px / 1rem);
  background: rgba(241, 245, 249, 0.2);
  border: 1px solid rgba(226, 232, 240, 255);
  border-radius: 4px;
}

.label__left-input::placeholder,
.label__right-input::placeholder {
  color: rgba(30, 41, 59, 0.5);
}

.label__form-right {
  display: flex;
  flex-direction: column;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: calc(20px / 0.875rem);
}

.label__form-middle {
  display: flex;
  flex-direction: column;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: calc(20px / 0.875rem);
}

#label__middle-input {
  padding: 18px 0 18px 16px;
  line-height: calc(19px / 1rem);
  background: rgba(241, 245, 249, 0.2);
  border: 1px solid rgba(226, 232, 240, 255);
  border-radius: 4px;
}

.label__form-bottom {
  display: flex;
  flex-direction: column;
  line-height: calc(19px / 1rem);
  font-size: 0.875rem;
  font-weight: 500;
  line-height: calc(20px / 0.875rem);
}

.label__bottom-input {
  padding: 12px 0 90px 16px;
  background: rgba(241, 245, 249, 0.2);
  border: 1px solid rgba(226, 232, 240, 255);
  border-radius: 4px;
}

.label__bottom-input::placeholder {
  color: rgba(30, 41, 59, 0.5);
}

.submit__form-link {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  max-width: 362.64px;
  height: 56px;
  width: 100%;
  border-radius: 4px;
  background: var(--general-color);
  font-weight: 500;
  line-height: calc(24px / 1rem);
  color: var(--white-color);
  margin-bottom: 28px;
  transition: all var(--transition-time) ease;
}

.submit__form-link:hover {
  opacity: var(--hover-opacity);
}

.submit__form-link:hover .submit__form-icon svg {
  transform: rotate(360deg);
}

.submit__form-icon svg {
  transition: all var(--transition-time) ease;
}

.submit__form-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(2px);
}

.processing {
  font-size: 0.75rem;
  line-height: calc(16px / 0.75rem);
  text-align: center;
  max-width: 317px;
  width: 100%;
  color: var(--secondary-color);
}

.content__grade-bottom {
  padding: 32px 32px;
  background: var(--general-color);
  color: var(--white-color);
  border-radius: 4px;
}

.grade__bottom-title {
  font-size: 1.25rem;
  font-weight: 700;
  line-height: calc(28px / 1.25rem);
  margin-bottom: 16px;
}

.grade__bottom-desc {
  line-height: calc(24px / 1rem);
  margin-bottom: 14px;
  max-width: 322px;
  width: 100%;
  opacity: var(--hover-opacity);
}

.grade__bottom-link {
  display: block;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: calc(32px / 1.5rem);
  margin-bottom: 4px;
  transition: all var(--transition-time) ease;
}

.grade__bottom-link:hover {
  transform: scale(1.05) translateX(15px);
}

.grade__bottom-info {
  font-size: 0.875rem;
  line-height: calc(32px / 0.875rem);
  opacity: var(--hover-opacity);
}

@media (max-width: 1050px) {
  .content__inner {
    flex-direction: column;
  }

  .submit__form-link {
    max-width: none;
  }

  .processing {
    max-width: none;
  }

  .content__grade-top {
    text-align: center;
    align-items: center;
  }

  .content {
    padding: 45px 0 45px;
  }
}

@media (max-width: 600px) {
  .content__item-title {
    font-size: 1rem;
  }

  .content__list-item {
    font-size: 0.875rem;
  }

  .content__grade-title {
    font-size: 1.25rem;
  }

  .label__left-input,
  .label__right-input {
    padding: 15px 0 15px 10px;
  }

  #label__middle-input {
    padding: 15px 0 15px 10px;
  }

  .label__bottom-input {
    padding: 15px 0 45px 10px;
  }

  .submit__form-link {
    font-size: 0.875rem;
  }

  .grade__bottom-title {
    font-size: 1.05rem;
  }

  .grade__bottom-desc {
    font-size: 0.875rem;
  }

  .grade__bottom-link {
    font-size: 1.25rem;
  }

  .grade__bottom-info {
    font-size: 0.875rem;
  }
}

@media (max-width: 470px) {
  .content__inner {
    gap: 35px;
  }

  .content__grade-top {
    padding: 32px 10px;
  }

  .content__form {
    text-align: left;
  }

  .content__item-title {
    font-size: 1rem;
  }

  .content__list-item {
    font-size: 0.75rem;
  }

  .label__left-input,
  .label__right-input {
    max-width: 200px;
    width: 100%;
  }

  .grade__bottom-title {
    font-size: 1rem;
  }

  .grade__bottom-desc {
    font-size: 0.75rem;
  }

  .grade__bottom-link {
    font-size: 1.05rem;
  }

  .grade__bottom-info {
    font-size: 0.75rem;
  }

  .content__item {
    padding: 20px 10px 20px 15px;
  }

  .content__items {
    gap: 35px;
  }
}
