.top {
    background-color: rgb(53, 47, 47);
}

.top__title {
    font-size: 20px;
    color: white;
}

.top__span {
    color: pink;
}

.redblock {
    background-color: red;
    width: 100px;
    height: 100px;
}

.bot {
    width: 300px;
    background-color: rgb(162, 112, 158);
}

.bot__title {
    color: violet;
    font-size: 20px;
}

.bot__span {
    background-color: rgb(106, 51, 154);
    color: white;
    font-size: 20px;
}