* {
    box-sizing: border-box;
    overflow: auto;
}

.block {
    display: inline-block;
    background-color: antiquewhite;
    padding: 20px;
    margin: 10px 0 10px 10px;
    max-width: 400px;
    height: 200px;
    border-radius: 30px;
    box-shadow: inset 0px 0px 20px black;
}

.wrapper {
    width: 100%;
    height: 450px;
    border-radius: 30px;
    border: 1px solid black;
    background-color: rgb(169, 243, 248);
}