@font-face {
    font-family: 'Montserrat';
    src: local('Montserrat Medium'), local('Montserrat-Medium'),
        url('../assets/fonts/Montserrat-Medium.woff2') format('woff2'),
        url('../assets/fonts/Montserrat-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gabriola';
    src: local('Gabriola'),
        url('../assets/fonts/Gabriola.woff2') format('woff2'),
        url('../assets/fonts/Gabriola.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: local('Montserrat Regular'), local('Montserrat-Regular'),
        url('../assets/fonts/Montserrat-Regular.woff2') format('woff2'),
        url('../assets/fonts/Montserrat-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}