/* =========================  GENERAL  ==========================*/
/* =========================  GENERAL  ==========================*/


:root {
    --accent-bg: #FFE0CB;
    --general-bg: #fff9f4;
    --general-text: #312c27;
    --accent-color: #FFA55C;
    --violet-color: #CEAAD0;
    --title-color: #1F1711;
}

.body {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
    color: var(--general-text);
    background: var(--general-bg);
}

.wrapper {
    min-height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.main {
    flex-grow: 1;
}

.container {
    max-width: 1310px;
    margin: 0 auto;
    padding: 0 15px;
    height: 100%;
}

.button {
    background-color: var(--accent-color);
    border-radius: 60px;
    line-height: 1;
    font-weight: 500;
    font-size: 16px;
    display: flex;
    height: 62px;
    align-items: center;
    justify-content: center;
    padding: 3px 15px;

    transition: all .4s;
}

.button:hover {
    background: #FF9138;
}

.body--opened-menu {
    overflow: hidden;
}


/* =========================  HEADER  ==========================*/
/* =========================  HEADER  ==========================*/


.header {
    background: url("../assets/images/bg-hero.png") 50% 100% / cover no-repeat;
}

.header__top {
    padding-top: 19px;
}

.header__top-inner {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.nav__list {
    display: flex;
    gap: 40px;
}

.nav__link {
    position: relative;
    display: block;
    padding: 5px 0;
    z-index: 1;
}

.nav__link::before {
    content: '';
    position: absolute;
    background-color: var(--accent-color);
    width: 34px;
    height: 34px;
    border-radius: 50%;
    bottom: 10px;
    left: -13px;
    z-index: -1;
    transition: all .4s;
    opacity: 0;
}

.nav__link:hover::before {
    opacity: 1;
}

.header__logo {
    max-width: 174px;
    z-index: 12;
}

.header__logo img {
    width: 100%;
}

.burger-icon {
    display: none;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    z-index: 11;
}

.burger-icon span {
    position: relative;
}

.burger-icon span,
.burger-icon span::before,
.burger-icon span::after {
    display: block;
    width: 30px;
    height: 3px;
    border-radius: 100px;
    background: var(--general-text);
    transition: all .4s;

}


.burger-icon span::before {
    content: '';
    position: absolute;
    top: -8px;
}

.burger-icon span::after {
    content: '';
    position: absolute;
    bottom: -8px;
}

.body--opened-menu span::before {
    top: 0;
    transform: rotate(45deg);

}

.body--opened-menu span {
    background: transparent;
}

.body--opened-menu span::after {
    bottom: 0;
    transform: rotate(-45deg);
}



/* ================== hero ==================== */


.hero {
    padding: 50px 0 140px;
}

.hero__inner {
    display: flex;
    gap: 30px;
    justify-content: space-between;
    align-items: flex-end;
}

.hero__content {
    max-width: 520px;
}

.hero__subtitle {
    text-transform: uppercase;
    line-height: 1.6;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
}

.hero__subtitle span {
    display: flex;
    align-items: center;
    color: #B197B3;
}

.hero__subtitle span::after {
    content: '';
    background: #B197B3;
    border-radius: 50%;
    width: 4px;
    height: 4px;
    margin-left: 10px;
    margin-right: 10px;
}

.hero__subtitle span:last-child::after {
    content: none;
}

.hero__title {
    font-family: 'Gabriola';
    font-size: 74px;
    line-height: 0.82;
    margin-bottom: 30px;
}

.hero__desc {
    max-width: 360px;
    line-height: 1.5;
    margin-bottom: 40px;
}

.hero__button {
    max-width: 360px;
    width: 100%;
}

.hero__img>img {
    width: 100%;
}

.hero__img {
    position: relative;
    margin-right: 247px;
}

.hero__img-control {
    display: flex;
    gap: 10px;
    position: absolute;
    bottom: 11%;
    left: calc(100% - 39px);
    max-width: 200px;
    line-height: 1.5;
    text-align: left;
}

.hero__img-button {
    flex-shrink: 0;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    background: var(--accent-bg);
    border-radius: 50%;
    width: 78px;
    height: 78px;
    box-shadow: 0px 4px 20px rgba(184, 148, 126, 0.3);
}

.hero__img-button::before {
    content: '';
    position: absolute;
    border: 1px solid var(--accent-color);
    border-radius: 50%;
    inset: 5px;
    opacity: 0;
    transition: all .4s;
}

.hero__img-button:hover::before {
    content: '';
    position: absolute;
    border: 1px solid var(--accent-color);
    border-radius: 50%;
    inset: 5px;
    opacity: 1;
    transition: all .4s;
}

.hero__img-control--mobile {
    display: none;
}

@media (max-width: 900px) {
    .nav {
        font-size: 24px;
        position: fixed;
        inset: 0;
        z-index: 10;
        background: var(--general-bg);
        padding: 25vh 15px 30px;
        display: none;
        transform: translateY(-50%);
        opacity: 0;
        visibility: hidden;
        transition: all .4s;
    }

    .nav__list {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5vh 50px;
    }

    .body--opened-menu .nav {
        display: block;
        transform: translateY(0%);
        opacity: 1;
        visibility: visible;
    }

    .burger-icon {
        display: flex;
    }

    .header__logo {
        margin-right: 45px;
    }
}

@media (max-width: 1200px) {

    .hero__img {
        margin-right: 0;
        max-width: 377px;
    }

    .hero__img-control {
        position: static;
        max-width: none;
        margin-top: 30px;
        align-items: center;
    }
}

@media (max-width: 800px) {
    .hero__content {
        max-width: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .hero__img {
        display: none;
    }

    .hero__img-control--mobile {
        display: flex;
        margin: 0 0 30px;
    }
}

@media (max-width: 600px) {

    .hero {
        padding-bottom: 50px;
    }

    .hero__title {
        font-size: 12vw;
    }
}

/* ==================== FOOTER ==========================*/
/* ==================== FOOTER ========================== */

.footer {
    background: #AB8261;
    padding: 60px 0 66px;
}

.footer__inner {
    display: grid;
    gap: 40px 30px;
    grid-template-columns: .9fr .9fr 1.1fr auto;
    color: #FFF9F4;
}

.footer__col:first-child {
    margin-top: -30px;
}

.footer__logo {
    display: block;
    max-width: 240px;
}

.footer__logo img {
    width: 100%;
}

.footer__logo-desc {
    margin-bottom: 20px;
}


.footer__col-list {
    margin-top: -5px;
}

.footer__col-item {
    margin-bottom: 20px;
}

.footer__col-item:last-child {
    margin-bottom: 0;
}

.footer__col-link {
    padding: 5px 0;
    position: relative;
    z-index: 1;
}

.footer__col-link::before {
    content: '';
    position: absolute;
    background-color: var(--accent-color);
    width: 34px;
    height: 34px;
    border-radius: 50%;
    bottom: 9px;
    left: -13px;
    z-index: -1;
    transition: all .4s;
    opacity: 0;
}

.footer__col-link:hover::before {
    opacity: 1;
}

.footer__contact-item {
    margin-bottom: 10px;
}

.footer__contact-item:last-child {
    margin-bottom: 0;
}

.footer__col-number {
    display: block;
    font-size: 24px;
    line-height: 1.6;
    font-weight: 500;
    transition: all .4s;
    margin-bottom: 46px;
}


.footer__col-number:hover {
    color: var(--accent-color);
}

.footer__col-copyright {
    color: #DEC5B1;
    gap: 5px;
}

.socials {
    line-height: 1;
}

.socials__list {
    display: flex;
    align-items: center;
    gap: 15px;
}

.socials__link path {
    display: block;
    transition: all .4s;
}

.socials__link:hover path {
    fill: var(--accent-color);
}


@media (max-width: 1200px) {
    .footer__inner {
        justify-content: space-between;
        grid-template-rows: auto auto;
        grid-template-columns: repeat(3, auto);
    }

    .footer__col:last-child {
        grid-column: 1 / -1;
        text-align: center;
    }
}

@media (max-width: 900px) {
    .footer__inner {
        justify-content: center;
        grid-template: none;
        text-align: center;
    }

    .footer__col:first-child {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}