body {
    background-color: rgb(64, 57, 49);
}

h1 {
    position: relative;
    font-size: 46px;
    color: white;
    text-align: center;
}

h1::before {
    content: '';
    position: absolute;
    transform: translate(-100px);
    background-color: rgb(176, 75, 75);
    width: 50px;
    height: 50px;
    border: 3px solid white;
    border-radius: 100px;
}

h1::after {
    content: '';
    position: absolute;
    transform: translate(50px);
    background-color: rgb(81, 81, 200);
    width: 50px;
    height: 50px;
    border: 3px solid white;
    border-radius: 100px;
}