/* =IMPORT= */

/* Helpers */
@import "../styles/fonts.css";
@import "../styles/helpers/reset.css";
@import "../styles/helpers/swiper-bundle.min.css";

/* Blocks */
@import "../styles/blocks/header.css";
@import "../styles/blocks/burger.css";
@import "../styles/blocks/footer.css";
@import "../styles/blocks/hero.css";
@import "../styles/blocks/brands.css";
@import "../styles/blocks/receipts.css";
@import "../styles/blocks/leaders.css";
@import "../styles/blocks/style.css";
@import "../styles/blocks/carousel.css";

/* =MAIN STYLES= */

/* Smooth scroll when links */
html {
  scroll-behavior: smooth;
  scroll-padding-top: 5vw;
}

.page__body {
  font-family: var(--main-font-family);
  line-height: 1;
  color: var(--general-color);
  background: var(--white-color);
  font-weight: 400;
  font-size: 16px;
}

.wrapper {
  min-height: 100%;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.main {
  flex-grow: 1;
}

.container {
  width: min(var(--container-width), 100% - var(--container-padding) * 2);
  margin: 0 auto;
  height: 100%;
}

/* When burger menu opened - page not touchabale */
.page__body--no-scroll {
  overflow-y: hidden;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

:root {
  /* font-family */
  --main-font-family: "Satoshi", sans-serif;
  --second-font-family: "FONTSPRING DEMO - Integral CF Extra", sans-serif;

  /* colors */
  --general-color: #000000;
  --transparent-grey-color: rgba(0, 0, 0, 0.6);
  --white-color: #ffffff;
  --bg-color: #f2f0f1;

  /* transition */
  --transition-time: 0.4s;

  /* container */
  --container-width: 1240px;
  --container-padding: 15px;
}

button {
  background: transparent;
}

input {
  background: transparent;
}

/* =BLOCKS STYLES= */

.display-none {
  display: none !important;
  opacity: 0;
  visibility: hidden;
}

.fixed {
  position: fixed !important;
  left: 0;
  right: 0;
  top: 0;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
.hidden {
  visibility: hidden;
  opacity: 0;
}
