/* @import url(./styles/blocks/footer.css);
@import url(./styles/blocks/header.css);
@import url(./styles/blocks/hero.css);
@import url(./styles/blocks/main__general.css);
@import url(./styles/helpers/fonts.css);
@import url(./styles/helpers/reset.css); */

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: calc(20px / 16px);
    color: #25282b;
    background-color: #F8FCFF;
}

.container {
    max-width: 1230px;
    margin: 0 auto;
    padding: 0 15px;
    height: 100%;
}

/* =================== */

.header {
    min-height: 108px;
    line-height: 1.5;
}

.header__inner {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    gap: 15px;
    align-items: center;
    padding: 30px 0 30px;
}

.header__logo {
    max-width: 58px;
}

.nav__list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px 30px;
}

.socials {
    display: flex;
    justify-content: end;
    flex-wrap: wrap;
    gap: 10px 30px;
}

/* ========================== */

.hero {
    min-height: 582px;
    padding: 120px 0;
    margin-bottom: 120px;
    color: #f8fcff;
    line-height: 1.5;
    position: relative;
}

.hero__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero__title {
    font-weight: 600;
    font-size: 52px;
    margin-bottom: 30px;
}

.hero__list {
    font-size: 24px;
}

.hero__item:hover path {
    fill: #1d6fb6
}

.hero__item path {
    transition: all .5s;
}

.hero__item:hover {
    color: #1d6fb6
}

.hero__item {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 15px;
    transition: all .5s;
}

.hero__item:last-child {
    margin-bottom: 40px;
}

.button {
    display: flex;
    font-weight: 500;
    color: #1d6fb6;
    border-radius: 100px;
    background: #d0dce7;
    max-width: 288px;
    height: 56px;
    width: 100%;
    justify-content: center;
    align-items: center;
    transition: all .5s;
}

.button:hover {
    background-color: #83ADD3;
    color: #f8fcff;
}

.hero__video {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.hero__video video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero__video::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #102E49;
    opacity: 80%;
}

/* ============================= */

.main__wrapper {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.main__body {
    max-width: 792px;
    width: 100%;
}

.main__general {
    padding: 120px 0;
}

.main__gallery {
    padding-bottom: 120px;
}

.sidebar {
    border: 2px solid #d0dce7;
    padding: 30px;
    font-weight: 500;
    max-width: 282px;
    width: 100%;
    min-height: 60vh;
    height: 100%;
}

.main__sidebar {
    position: sticky;
    top: 5vh;
}

.sidebar__item {
    margin-bottom: 20px;
}

.sidebar__item:last-child {
    margin-bottom: 0px;
}

/* =============================== */

.gallery {
    display: grid;
    grid-auto-flow: dense;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
}

.gallery__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
    position: absolute;
    top: 0;
}

.gallery__img {
    display: block;
    position: relative;
    overflow: hidden;
    padding-bottom: 100%;
}

.gallery__img--large-left {
    grid-column: 1/3;
    grid-row: span 2;
}

.gallery__img--large-right {
    grid-column: -1/-3;
    grid-row: span 2;
}

.gallery__hint {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #1d6fb68c;
    height: 53px;
    color: #f8fcff;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(100%);
    opacity: 0;
    transition: all .5s;
}

.gallery__img:hover .gallery__hint {
    transform: translateY(0%);
    opacity: 1;
}

.gallery__img--large-left .gallery__hint,
.gallery__img--large-right .gallery__hint {
    height: 103px;
    font-size: 24px;
    line-height: 29px;
}

/* ===================================== */

.products {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.products__item-body {
    border: 1px solid #d0dce7;
    border-top: none;
    padding: 30px 15px;
}

.products__item-img {
    position: relative;
    padding-bottom: 62%;
}

.products__item-img img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    object-fit: cover;
    object-position: 50% 50%;
}

.products__item-badge {
    position: absolute;
    left: 0;
    top: 12.7%;
    color: #1d6fb6;
    font-weight: 500;
    background: #f8fcff;
    border-radius: 0 100px 100px 0;
    padding: 18px 15px;
    text-align: center;
    min-width: 33.9%;

    animation: badge-action 1.5s infinite alternate;
}

.products__item-button {
    margin: 0 auto;
}

@keyframes badge-action {
    0% {
        min-width: 33.9;
    }

    66.666% {
        min-width: 33.9%;
    }

    100% {
        min-width: 37.3%;
    }
}

/* ================================== */

.footer {
    color: #f8fcff;
    text-align: center;
    background-color: #788088;
    padding: 30px 0;
}

.footer__inner {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}