@import url(./styles/blocks/footer.css);
@import url(./styles/blocks/header.css);
@import url(./styles/blocks/hero.css);
@import url(./styles/blocks/main__general.css);
@import url(./styles/helpers/fonts.css);
@import url(./styles/helpers/reset.css);

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: calc(20px / 16px);
    color: #25282b;
    background-color: #F8FCFF;
}

.container {
    max-width: 1230px;
    margin: 0 auto;
    padding: 0 15px;
    height: 100%;
}